<section>
  <form
        fxLayout="column"
        fxLayoutGap="20px"
        fxLayoutAlign="center center"
        #form="ngForm"
        (ngSubmit)="onSubmit(form)">
    <mat-form-field>
      <input
             matInput
             name="email"
             type="email"
             placeholder="email"
             [(ngModel)]='email'>
    </mat-form-field>
    <mat-form-field>
      <input
             matInput
             name="password"
             type="password"
             placeholder="password"
             [(ngModel)]='password'>
    </mat-form-field>
    <button
            mat-raised-button
            type="submit">Log In</button>
  </form>
</section>